.root {
    -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 0%, center 100% 100%, radius 60%, #bd93f9 0%, rgba(40, 42, 54, 0.9) 70%, #282a36 100%);
}


.jfx-hamburger StackPane {
    -fx-background-color: #f8f8f2;
}

.jfx-toggle-button {
    -jfx-toggle-color: #bd93f9;
    -jfx-untoggle-color: #f8f8f2;
    -jfx-toggle-line-color: #a88ad2;
    -jfx-untoggle-line-color: #979797;
}

.jfx-toggle-button .jfx-rippler {
    -jfx-rippler-fill: #a88ad2;
}

.jfx-toggle-button:selected .jfx-rippler {
    -jfx-rippler-fill: #cba9fb;
}